<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.patientcircle">

    <application android:name="com.wd.common.base.Init">
        <activity android:name=".ActivitySendPatientCircle"></activity>
        <activity android:name=".ActivityPatientCircleXq" />
    </application>

</manifest>